.header {
  position: absolute;
  padding: 20px;
  z-index: 2;
  font-size: 17px;



  .navbar-nav {
    .nav-item {
      .nav-link {
        font-weight: 700;
        position: relative;
      }
    }
  }
}