.homepage {
  position: relative;

  .hero-section {
    position: relative;
    z-index: 1;
    padding-top: 150px;

    .hero-title {
      font-size: 70px;
      font-weight: 900;

      span {
        color: var(--theme-color);
      }
    }
  }
}